body{
    background-color:#C7EDFA;}
    H1{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        line-height: 26px;
    }




